:root {
    --bg-color: #f7f7f9;
    --primary-color: #fff;
    --secondary-color: #6070ff;
    --text-bg: #091e42;
    --text-sm: #344563;
    --heading-font: "Poppins", Verdana, serif;
    --text-font: "Calibri", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--text-font);
    color: var(--text-sm);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    place-content: space-around;
    background: var(--bg-color);
    align-items: center;
}

header span {
    display: flex;
    justify-content: center;
}

header span img {
    width: 80px;
    height: auto;
}


nav, p, article {
    margin: 16px;
    padding: 8px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    background: var(--primary-color);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    padding: 5px 10px;
    color: var(--text-bg);
    border: 1px solid var(--secondary-color);
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--text-bg);
    font-weight: 700;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--text-bg);
    color: var(--primary-color);
}

.hero article {
    position: absolute;
    top: 95px;
    background-color: var(--bg-color);
    align-items: center;
    margin: 15px;
    
    
}

.hero article img {
    float: right;
    width: 155px;
    height: auto;
    margin-left: 8px ;
}

.hero-sub p {
    font-size: 16px;
    margin-left: 0;
}

.history {
    display: flex;
    flex-direction: column;
    background: var(--primary-color);
    border: 1px solid var(--secondary-color);
    margin: 20px 0;
}

.history h2 {
    align-self: center;
    font-size: 1.5rem;
}

.history div {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    place-content: space-between;
    align-items: center;
}

.history div img {
    width: 100%;
}

.history-text {
    font-size: 16px;
    color: var(--text-sm);
    font-weight: 400;
}

.adventure {
    display: flex;
    flex-direction: column;
    background: var(--secondary-color);
    padding: 20px 0;
}

.adventure h2 {
    align-self: center;
    padding: 10px;
    font-size: 1.5rem;
    color: var(--bg-color);
}

.adventure div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.adventure div figure {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-top: 10px;
    align-items: center;
}

.adventure div figure img {
    width: 150px;
    height: auto;
}

.adventure div figure figcaption {
    color: var(--bg-color);
    font-size: 1.2rem;
    font-weight: 700;
    padding: 10px;
}

footer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: var(--bg-color);
    align-items: center;
    place-items: end;
}

footer p {
    font-size: 16px;
    font-weight: 600;
}

footer nav {
    display: flex;
    align-items: center;
}

footer nav a img {
    width: 25px;
}