* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: darkblue;
    --secondary-color: #808080;
    --text-color: #fff;
}

nav {
    display: flex;
    background-color: var(--primary-color);
    justify-content: space-evenly;
    padding: 1rem;
    align-items: center;
}

nav a {
    color: var(--text-color);
    display: block;
    text-decoration: none;
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: 700;
}

header, .grid, footer {
    max-width: 840px;
}

.grid {
    display: grid;
    align-items: center;
}

main {
    margin: 1rem;
    grid-column: 2 / 3;
}

h1 {
    padding: 0.5rem;
    color: var(--primary-color);
    border-bottom: 1px solid rgb(0 0 0 /0.4);
    margin-bottom: 0.5rem;
}

main img {
    margin: 0 10px;
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 1rem;
}

aside {
    width: 20rem;
    position: relative;
    text-align: center;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside h2 {
    position: absolute;
    top: 25px;
    left: 28%;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 20px;
    border-top: 1px solid rgb(0 0 0 /0.4);
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem auto;
    padding: 1rem;
    border: 1px solid gray;
    background-color: var(--secondary-color);
    color: var(--text-color)
}